header{
    background-color: #00296b;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 8px solid white;
}
header > h1{
    color: #fdc500;
}
body{
    background-color: #00509d;
}

#searchBar{
    background-color: #ffd500;
    border-bottom: 8px solid white
}

#searchBtn{
    background-color: #00296B;
    color: white;
}